.add-btn {
    background-color: #EE889A;
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    color: black;
    width: 160px;
    height: 59px;
    border-radius: 50px;
}

.add-btn-dark-mode {
    color: white;
}

/* .divider {
    border: dashed 3px;
    border-color: #DCDCDC;
    margin-top: 10px;
    width: 1100px;


} */

.input-box-main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding:10px 10px; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

/* .input{
    display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
} */
input {
    width: 593px;
    height: 92px;
    outline: none;
    font-size: 30px;
    font-family: "DynaPuff", serif;
}

.dark-mode-input {
    background-color: #1E1E1E;
    color: white;
}

input:hover {
    cursor: pointer;
}

input::placeholder {
    font-size: larger;
    font-family: "DynaPuff", serif;
}